*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(225deg, green, yellow, red);
    z-index: 0;
}

section {
    background-image: url("./src/img/bg-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: change 20s infinite ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* animation key frame for the first background */
@keyframes change {
    0% {
        background-image: url("./src/img/bg-img-1.jpg");
    }

    33% {
        background-image: url("./src/img/bg-img-2.jpg");
    }

    64% {
        background-image: url("./src/img/bg-img-3.jpg");
    }

    80% {
        background-image: url("./src/img/bg-img-4.jpg");
    }
}

section h1 {
    color: rgb(210, 214, 190);
    animation: changeColor 10s infinite ease-in-out;
    text-align: center;
}

section h1 span {
    color: rgb(129, 126, 126);
    /* rgb(126, 119, 102); */
}

@keyframes changeColor {
    0% {
        color: white;
    }

    33% {
        color: black;
    }

    64% {
        color: white;
    }

    80% {
        color: black;
    }
}

/* utlities */

.hidden {
    display: none;
}


/* ----------------- calculation part ------------  */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.calc-bg {
    background: magenta;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 10px 10px 10px black;
}

.label-input {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

input {
    border: none;
    padding: 10px;
    margin: 5px 0;
    background: rgb(240, 240, 243);
    border-radius: 8px;
    border: none;
}